@import './variables.scss';

body {
    background-image: linear-gradient(rgba(105, 98, 109, 0.26)
    , rgba(105, 98, 109, 0.26)
    ), url("../assets/bar.jpg");
    background-size: cover;
}


.navbar-expand-lg.navbar-dark.bg-dark {
    display: flex;
    justify-content: space-around;
}


.NavItems {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: right;
}

.FilteredOptions {
    display: flex;
    justify-content: space-around;
    color: white;
}

.form {
    width: 30%;
    margin: 45px;
    padding: 5px;
    border-radius: 5px;
    background-color:#212529ad;
}

.homeContainer {
    display: flex;
    justify-content: center;
}