@import './variables.scss';

.card {
    background-color: rgb(225, 221, 221);
    height: auto;
    .card-header{
        transition-property: font-size;
        transition-duration: 300ms;
        // transition-delay: 100ms;
        font-size: 20px;
        text-align: center;
    }
}

// .card:hover{
//     .card-header{
//         transition-property: font-size;
//         transition-duration: 300ms;
//         // transition-delay:200ms;
//         font-size: 30px;
//         // width: 300px;
//     }
// }

